.example-card {
  width: 600px;
  height: 320px;
  margin-left: 500px;
  margin-top: 150px;
  padding: 37px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  border: 3px solid #00b4d8; 
}

.example-form {
  width: 100%;

}

.example-full-width {
  width: 100%;
}
h2 {
  margin-left: 180px;
  color: rgb(59, 59, 237);
  font-weight:600;
}