<!-- 
<h2>Assign Teachers</h2>
<div mat-dialog-content>
  <form [formGroup]="addTeacherForm">
    <mat-form-field appearance="fill">
      <mat-label>Class</mat-label>
      <mat-select formControlName="class" (selectionChange)="onClassChange($event.value)" required>
        <mat-option *ngFor="let classOption of classOptions" [value]="classOption">
          {{ classOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Section</mat-label>
      <mat-select formControlName="section" required>
        <mat-option *ngFor="let sectionOption of sectionOptions" [value]="sectionOption">
          {{ sectionOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="kk">
  <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!addTeacherForm.valid">Assign</button>
</div> -->
<h2>Assign Teachers</h2>
<div mat-dialog-content>
  <form [formGroup]="addTeacherForm">
    <mat-form-field appearance="fill">
      <mat-label>Class</mat-label>
      <mat-select formControlName="class" (selectionChange)="onClassChange($event.value)" required>
        <mat-option *ngFor="let classOption of classOptions" [value]="classOption">
          {{ classOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Section</mat-label>
      <mat-select formControlName="section" required>
        <mat-option *ngFor="let sectionOption of sectionOptions" [value]="sectionOption">
          {{ sectionOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Subject</mat-label>
      <mat-select formControlName="subject" required>
        <mat-option *ngFor="let subjectOption of subjectOptions" [value]="subjectOption">
          {{ subjectOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div> -->
<mat-form-field appearance="fill">
  <mat-label>Subjects</mat-label>
  <mat-select formControlName="subjects" multiple required>
    <mat-option *ngFor="let subjectOption of subjectOptions" [value]="subjectOption">
      {{ subjectOption }}
    </mat-option>
  </mat-select>
</mat-form-field>
</form>
</div>
<div mat-dialog-actions class="kk">
  <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!addTeacherForm.valid">Assign</button>
</div>
