.add {
    margin-left: 1110px;
    margin-top: 1px;
    background-color: gray;
    color: white;  
    padding: 12px;
    width: 200px;
    }

    .all {
        border: 1px solid rgb(198, 198, 245);
        background-color: #bdd2e6;
         width: 250px;
         padding: 4px;
        margin-top: 5px;
          }
          
        .name {
        font-size: 1rem;
        font-weight:500;
        color:white;
        margin-left: 46px;
          }
          
        .roll {
        font-size: 1rem;
        font-weight:500;
        color:white;
        margin-bottom:2px ;
        margin-left: 46px;
          }
          