<h2>Edit Section</h2>
<div mat-dialog-content>
  <form [formGroup]="sectionForm">
    <mat-form-field>
      <!-- <input matInput placeholder="Class" formControlName="class"> -->
      <mat-select placeholder="Class" formControlName="class">
        <mat-option *ngFor="let cls of classes" [value]="cls">{{cls}}</mat-option>
      </mat-select>
      <mat-error *ngIf="sectionForm.controls['class'].hasError('required')">
        Class is required
      </mat-error>
      <mat-error *ngIf="sectionForm.controls['class'].hasError('maxlength')">
        Class cannot exceed 50 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Section" formControlName="section">
      <mat-error *ngIf="sectionForm.controls['section'].hasError('required')">
        Section is required
      </mat-error>
      <mat-error *ngIf="sectionForm.controls['section'].hasError('maxlength')">
        Section cannot exceed 50 characters
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="kk">
  <button mat-raised-button color="warn" (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!sectionForm.valid" (click)="onUpdateClick()">Update</button>
</div>

