



.mat-column-action {
  width: 20%;

}
.mat-column-status {
  width: 20%;
}
.mat-column-class {
  width: 20%;
}
.mat-column-subject {
  width: 20%;
}
.mat-column-sno {
  width: 20%;
}

.teacher-container {
  margin: 20px;
  width: 95%;

}

.button-container {
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.assign {
  background-color:#eec7db ;
  color: rgb(68, 63, 63);
}

.unassign {

  background-color: rgb(163, 243, 163);
  color: rgb(68, 63, 63);
}

.add {
  margin-left: 1018px;
  background-color:rgb(209, 250, 129);
  color: rgb(68, 63, 63); 
  padding: 12px;
  width: 195px;
  }

  .status-assigned {
  color: green
 
  }
  
  .status-unassigned {
    color:#56052f ;

  
  }