/* edit-dialog.component.css */

/* Make the header bold and black */
h2 {
    color: blue;
    text-align: center;
    margin-top: 20px;
    
  }

  mat-cart{
    margin: 2%;
    text-align: left;
  }

  .mat-50{
    width: 48%;
    margin: 1%;
  }
  
  /* Increase width of input fields */
  .mat-mdc-form-field {
    width: 96%;
    margin: 1%;
  }
  
  /* Add vertical space between buttons */
  button {
    margin: 3px;
  }
