<h2 mat-dialog-title>Update Password</h2>
<div mat-dialog-content>
  <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Old Password" formControlName="oldPassword" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="newPassword" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm New Password" formControlName="confirmPassword" required>
      <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
      <mat-error *ngIf="updatePasswordForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Update</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </form>
</div>

