/* Styles for the Update Password form */

/* Container */
.update-password-container {
    max-width: 400px;
    margin: auto;
  }

  h2 {
    color: blue;
    text-align: center;
    margin-top: 20px;
    
  }

  /* Form fields */
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Error messages */
  .mat-error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  /* Styles for input fields */
  input.mat-input-element {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 20px);
  }
  
  /* Button styles */
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .mat-dialog-actions button {
    margin-left: 10px;
  }
  
  /* Validation styles */
  .mat-form-field-invalid .mat-form-field-label,
  .mat-form-field-invalid .mat-input-element {
    color: #f44336; /* Red color for invalid fields */
  }
  
  .mat-form-field-invalid .mat-form-field-underline {
    background-color: #f44336; /* Red color for invalid fields */
  }
  
  .mat-form-field-invalid .mat-form-field-ripple {
    background-color: #f44336; /* Red color for invalid fields */
  }
  
  .mat-form-field-invalid .mat-error {
    visibility: visible; /* Show error messages */
  }
  