<h2>Update Password</h2>
<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Old Password</mat-label>
    <input matInput formControlName="oldPassword" readonly="true">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput formControlName="newPassword" type="password">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm New Password</mat-label>
    <input matInput formControlName="confirmNewPassword" type="password">
  </mat-form-field>

  <div mat-dialog-actions class="dd">
    <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Update Password</button>
  </div>
</form>
 
 