/* .menu-head{
    color: white;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
    padding: 8px 8px;
    margin-top: 20px;
}
.menu-item{
    .menu-button{
        display: block;
        width: 110%;
        position: relative;
        display: flex;
        padding-right: 50px;
        margin-bottom: 4px;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
     
    }
    .menu-button span{

        color: white;
        margin-bottom: 5px;
        font-weight: 700;
  
      
    }
    .menu-button:hover{
        background-color: rgb(36, 34, 34);
    }
    .menu-button:focus{
        background-color: rgb(36, 34, 34);
    }
    .white-icon {
        color: white;
      }
 /* Sub-menu items styling */
 

 


 .menu-head {
    color: white;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
    padding: 8px 8px;
    margin-top: 20px;
  }
  
  .menu-item {
    .menu-button {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
      font-weight: bold;
      text-align: left;
      color: white;
      text-transform: none;
    }
  
    .menu-button mat-icon {
      margin-right: 10px;
  
    }
  
    .menu-text {
      flex: 1;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .menu-button:hover {
      background-color: rgb(36, 34, 34);
    }
  
    .menu-button:focus {
      background-color: rgb(36, 34, 34);
    }
  
    .white-icon {
      color: white;
    }
  
    /* Sub-menu items styling */
    /* .sub-menu-item {
      padding-left: 1px; 
    }
   */
    .sub-menu-button {
      color: white;
      width: 100%;
   
      margin-left: 1px;
    }
  
    .sub-menu-button:hover {
      background-color: black;
    }
    .sub-menu-button:focus{
      background-color: black;
    }
    .kkkk{
      color: white;
          margin-bottom: 5px;
          font-weight: 600;
          text-transform: uppercase;
         margin-left: 70px;
  }
}
  /* Custom expansion panel styling */
  /* .custom-accordion {
    background: none;  Match the sidenav background 
  } */

  .custom-expansion-panel {
    background: none;
    box-shadow: none !important;
    margin-left: 28px; /* Remove margins */
    width: 80%; /* Make the width same as the menu */
  }
  
  .custom-expansion-panel .mat-expansion-panel-header {
    padding: 0px 8px; /* Match the menu button padding */
  }
  
  /* .custom-expansion-panel .mat-expansion-panel-header.mat-expanded {
    color: white;
  }
   */





