.menu-head{
    color: grey;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    box-shadow: 0 0 0 2px gray; /* Add box-shadow to create a background border */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 8px 8px;
    margin-top: 20px;
}
.menu-item{
    .menu-button{
        display: block;
        width: 110%;
        position: relative;
        display: flex;
        padding-right: 30px;
        margin-bottom: 15px;
        font-weight: bold;
       
    }
    .menu-button span{
        margin-left:10px ;
        color: white;
        margin-bottom: 15px;
        font-weight: bold;
      
    }
    .menu-button:hover{
        background-color: grey;
    }
    .menu-button:focus{
        background-color: grey;
    }
   
}

