/* Dialog box styles */
mat-dialog-container {
    padding: 20px;
  }
  
  
 
  mat-form-field {
    width: 100%;
  }
  

  h2 {
    margin-left: 138px;
    margin-top: 20px;
    color: rgb(59, 59, 237);
    font-weight:600;
  }
  .kk {
    margin-left: 299px;
  
  }