.add {
    margin-left: 1009px;
    margin-top: 1px;
    background-color:rgb(209, 250, 129);
    color: rgb(68, 63, 63);
    padding: 12px;
    width: 240px;
    }

    .all {
        border: 1px solid rgb(198, 198, 245);
        background-color: #bdd2e6;
         width: 250px;
         padding: 4px;
        margin-top: 5px;
          }
          
        .name {
        font-size: 1rem;
        font-weight:500;
        color:white;
        margin-left: 46px;
          }
          
        .roll {
        font-size: 1rem;
        font-weight:500;
        color:white;
        margin-bottom:2px ;
        margin-left: 46px;
          }
          