mat-form-field {
    width: 100%;
  }
  
  .dialog-content {
    display: flex;
    flex-direction: column;
  }


  mat-error {
    color: red;
    font-size: 12px;
  }
  
  h2 {
    margin-left: 100px;
    color: rgb(59, 59, 237);
    font-weight:600;
  }
 
  p{
    font-weight: 500;
  }