.container {
    padding: 16px;
  }
  
  table {
    width: 100%;
  }
  
  .add {
    margin-left: 1028px;
    margin-top: 1px;
    background-color: gray;
    color: white;  
    padding: 12px;
    width: 195px;
    }