.welcome-container {
    text-align: center;
    margin-top: 230px;
    position: fixed;
    margin-left: 710px;
    
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background: linear-gradient(to bottom, #ff69b4, #ff1493);
    border-color:#ff69b4;
  }
  
  h1{
    color:purple
  }