
<!--   
   <div class="all">
    <p class="name">Name: {{ currentUser.name }}</p>
    <p class="roll">Roll Number: {{ currentUser.rollNumber }}</p>
  </div>
   <div class="button-container">
    <button mat-raised-button class="marked" (click)="markIn()">Mark In</button>
    <button mat-raised-button *ngIf="showMarkOutButton" class="markedinn"  (click)="markOut()">Mark Out</button>
  </div>
   <div class="attendance-container">
    <mat-calendar class="cal"[dateClass]="dateClass"></mat-calendar>
    <table class="attendance-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of attendanceRecords">
          <td>{{ record.date }}</td>
          <td>{{ record.time }}</td>
          <td>{{ record.attendance }}</td>
        </tr>
        <tr>
          <td colspan="3">
           
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
   -->


 
<!-- 
   <div class="all">
    <p class="name">Name: {{ currentUser.name }}</p>
    <p class="roll">Roll Number: {{ currentUser.rollNumber }}</p>
  </div>
   <div class="button-container">
    <button mat-raised-button  *ngIf="!markInDate && !showMarkOutButton" class="marked" (click)="markIn()">Mark In</button>
    <button mat-raised-button *ngIf="markInDate && showMarkOutButton" class="markedinn"  (click)="markOut()">Mark Out</button>
  </div>
   <div class="attendance-container">
    <mat-calendar class="cal"[dateClass]="dateClass"></mat-calendar>
    <table class="attendance-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Mark In Time</th>
          <th>Mark Out Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of attendanceRecords">
          <td>{{ record.date }}</td>
          <td>{{ record.markInTime ? record.markInTime : '------' }}</td>
          <td>{{ record.markOutTime ? record.markOutTime : '------' }}</td>
          <td>{{ record.status }}</td>
        </tr>
      </tbody>
    </table>
  
  </div>
   
  -->


  


  <div class="all">
    <p class="name">Name: {{ currentUser.name }}</p>
    <p class="roll">Roll Number: {{ currentUser.rollNumber }}</p>
  </div>
  <div class="button-container">
    <button mat-raised-button *ngIf="!markInDate && !showMarkOutButton" class="marked" (click)="markIn()">Mark In</button>
    <button mat-raised-button *ngIf="markInDate && showMarkOutButton" class="markedinn" (click)="markOut()">Mark Out</button>
  </div>
  <div class="attendance-container">
   
    <mat-calendar class="cal" [dateClass]="dateClass"></mat-calendar>
    <table class="attendance-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Mark In Time</th>
          <th>Mark Out Time</th>
          <th>Status</th>
          <th>Status by Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of attendanceRecords">
          <td>{{ record.date }}</td>
          <td>{{ record.markInTime ? record.markInTime : '------' }}</td>
          <td>{{ record.markOutTime ? record.markOutTime : '------' }}</td>
          <td>{{ record.status }}</td>
          <td>{{ record.adminStatus ? record.adminStatus : 'Not Marked' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  