<!-- <mat-card class="example-card"> -->
    <h2>Employee Register</h2>
    <div mat-dialog-content>
<form class="example-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" type="email" formControlName="email" required>
      <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">Email is required</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.get('role')?.hasError('required')">Role is required</mat-error>
    </mat-form-field>

  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" formControlName="password" required>
      <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">Password is required</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Mobile Number</mat-label>
      <input matInput placeholder="Mobile Number" type="tel" formControlName="mobileNumber" required>
      <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">Mobile Number is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option *ngFor="let gender of genders" [value]="gender">{{ gender }}</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.get('gender')?.hasError('required')">Gender is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="cast" required>
        <mat-option *ngFor="let cast of casts" [value]="cast">{{ cast }}</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.get('cast')?.hasError('required')">Cast is required</mat-error>
    </mat-form-field>
  
    <div mat-dialog-actions >
      <button mat-raised-button color="primary"  class="kk"  type="submit">Register</button>
    </div>

    
  </form>
</div>
<!-- </mat-card> -->