
mat-sidenav-content{
    height: 150vh;
    background-color: rgb(241, 243, 244);
    .main{
        margin-left:4px;
    }
}


.dcontainer {
    height: 150vh;
  }
  
  mat-sidenav {
    background: linear-gradient(to bottom, #ff69b4, #ff1493);
    /* background: linear-gradient(to bottom, gray, black,gray); */
    width: 280px;
    height: 100%;
  }
  

  .toolbar mat-toolbar {
    background-color: rgb(41, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toolbar mat-icon {
    margin-left: 0px;
    color: white;
  }
  
  .admin-text {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .spacer {
    flex: 1;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff69b4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin-right: 10px;
  }
  