<!-- <mat-sidenav-container class="dcontainer">
    <mat-sidenav #sidebar mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                    <div class="box">Admin
                        Settings button for vendors
                        <button mat-icon-button [matMenuTriggerFor]="vendorMenu">
                            <mat-icon>settings</mat-icon>
                        </button>

                        Vendor settings menu
                        <mat-menu #vendorMenu="matMenu">
                            <button mat-menu-item>Settings</button>
                            <button mat-menu-item >Logout</button>
                        </mat-menu>

                        Logout dropdown for customers
                        <button mat-icon-button [matMenuTriggerFor]="customerMenu">
                            <mat-icon>settings</mat-icon>
                        </button>

                         Customer logout menu 
                         <mat-menu #customerMenu="matMenu">
                            <button mat-menu-item >Logout</button>
                        </mat-menu> 
                    </div>
                </mat-toolbar>
            </div>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

css---below for the comment html----
mat-sidenav{
   
    background: linear-gradient(to bottom,#ff69b4, #ff1493); 

   
width: 280px;
height: 100%;
}

mat-toolbar{
    /* background-color: lightslategray; */
    background-color: rgb(41, 36, 36);
    mat-icon{
        margin-left: 15px;
        color:white;
        
    }
    justify-content: space-between;
  
    .box{
        margin-top: 15px;
        color: white;
    }
  
 }  -->



 <mat-sidenav-container class="dcontainer">
    <mat-sidenav #sidebar mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <div class="toolbar">
          <mat-toolbar>
            <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
            <!-- <span class="admin-text">ADMIN</span> -->
            <span class="spacer"></span>
            <div class="profile-pic" matTooltip="Admin">
              <!-- A -->
            </div>
            <button mat-icon-button [matMenuTriggerFor]="vendorMenu">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #vendorMenu="matMenu">
              <button mat-menu-item>Settings</button>
              <button mat-menu-item>Logout</button>
            </mat-menu>
          </mat-toolbar>
        </div>
        <div class="main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  







<!-- 
   student working fine not admin sidebar not even moving
   <mat-sidenav-container class="dcontainer">
    <mat-sidenav #sidebar mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <div class="toolbar">
          <mat-toolbar>
            <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
            <ng-container *ngIf="currentUser && currentUser.userType === 1">
              <span>{{ currentUser.name }} - {{ currentUser.class }} - {{ currentUser.rollNumber }}</span>
            </ng-container>
            <span *ngIf="!(currentUser && currentUser.userType === 1)" class="admin-text">ADMIN</span>
            <span class="spacer"></span>
            <div class="profile-pic" [matTooltip]="currentUser.name">
              {{ currentUser.name.charAt(0).toUpperCase() }}
            </div>
            <button mat-icon-button [matMenuTriggerFor]="vendorMenu">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #vendorMenu="matMenu">
              <button mat-menu-item>Settings</button>
              <button mat-menu-item>Logout</button>
            </mat-menu>
          </mat-toolbar>
        </div>
        <div class="main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  -->
   
  
