.fee-container {
    margin: 20px;
    width: 95%;
    }
    
  
    
    .mat-column-status {
      width: 10%;
    }
    
    
    .mat-column-select {
      width: 10%;
    }
    
    .mat-column-quarter {
      width:10%;
    }
    
    
    .mat-column-totalAmount {
      width: 10%;
    }
    
    .mat-column-paidDate {
      width: 10%;
    }
    
    .mat-column-action {
      width: 10%;
    }
    
   
    .status-Paid {
        color: green
       
        }
        
        .status-Due {
          color:#56052f ;
      
        
        }
    
    
    .add {
      margin-left: 1018px;
      background-color:rgb(209, 250, 129);
      color: rgb(68, 63, 63);
      padding: 12px;
      width: 195px;
      }
    
    .pay {
      background-color:#eec7db;
      color: rgb(68, 63, 63);
     
      }


      .all {
        border: 1px solid rgb(163, 243, 163);
        /* background-color: #bdd2e6; */
        background-color:rgb(163, 243, 163);
         width: 250px;
         padding: 4px;
        margin-top: 5px;
          }
          
        .name {
        font-size: 1rem;
        font-weight:500;
        color: rgb(68, 63, 63);
        margin-left: 46px;
          }
          
        .roll {
        font-size: 1rem;
        font-weight:500;
        color: rgb(68, 63, 63);
        margin-left: 46px;
          }
          
        .Class {
        font-size: 1rem;
        font-weight:500;
        color: rgb(68, 63, 63);
        margin-bottom:2px ;
        margin-left: 46px;
          }
          