/* You can add global styles to this file, and also import other style files */
/* *{
    margin:0 ;padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body {
    /* background-image: linear-gradient(to bottom right, #0077b6, #00b4d8);  */
    /* background-image: linear-gradient(to bottom right, #c6e3f3, #d5f7fd);  */
    /* background-color: rgb(215, 236, 248); */
    background-color:whitesmoke;
  }
  .container {
    /* padding: 16px; */
    margin: 20px;
    width: 95%;
  }
  
  table {
    width: 100%;
  }
  
  th{
    color: purple;
  }


  .table-container {
    width: 100%;
  
    box-shadow: 1px 3px 8px 3px rgb(251, 170, 251);  /* Purple box shadow */
    border-collapse: collapse; /* Optional: For a better look */
  
  }

  mat-header-cell {
    color: purple;
  }