<div class="timetable-container">
    <h2>Create Timetable</h2>
    <form [formGroup]="timetableForm" (ngSubmit)="onSubmit()"class="quarter-section">
      <mat-form-field appearance="fill" class="quarter-field">
        <mat-label>Class</mat-label>
        <mat-select formControlName="class"  (selectionChange)="onClassChange($event.value)">
          <mat-option *ngFor="let classOption of classOptions" [value]="classOption">
            {{ classOption }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="date-field">
        <mat-label>Section</mat-label>
        <mat-select formControlName="section" >
          <mat-option *ngFor="let sectionOption of sectionOptions" [value]="sectionOption">
            {{ sectionOption }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="kk" type="submit" [disabled]="!timetableForm.valid" (click)="generateTimetable()">Generate Timetable</button>
 
    </form>
  
   

    <div class="timetable-container" *ngIf="showTimetable">
      <div class="table-container">
      <table mat-table [dataSource]="periods" class="mat-elevation-z8 timetable-table">
  
    
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let period" [ngClass]="{'lunch-break': period.time === 'LUNCH BREAK'}"> {{period.time}} </td>
        </ng-container>
  
      
        <ng-container *ngFor="let day of ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']" [ngSwitch]="day">
          <ng-container matColumnDef="{{ day }}">
            <th mat-header-cell *matHeaderCellDef> {{ day | titlecase }} </th>
            <td mat-cell *matCellDef="let period" [ngClass]="{'lunch-break': period.time === 'LUNCH BREAK'}">
              <div *ngIf="getTimetableEntry(day, period.time); else addIcon">
                <div class="timetable-entry">
                  <span class="name">  Name : {{ getTimetableEntry(day, period.time)?.teacher }}</span><br>
                  <span class="sub"> Subject : {{ getTimetableEntry(day, period.time)?.subject }}</span>  
                  <!-- <button mat-icon-button (click)="openEditForm(day, period)">
                    <mat-icon class="edit-icon">edit</mat-icon>
                  </button> -->
                  <button mat-icon-button (click)="openDeleteForm(day, period)">
                    <mat-icon class="delete-icon">delete</mat-icon>
                  </button>
                </div>
              </div>
              <ng-template #addIcon>
                <button mat-icon-button (click)="openForm(day, period)">
                  <mat-icon>add</mat-icon>
                </button>
              </ng-template>
            </td>
          </ng-container>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
      </table>
   
    </div>
    <button mat-raised-button class="kkk" (click)="saveClassSection()">Save Timetable</button>
    </div>
 
   
  </div>